main{
    height: 92vh;
    padding: 30px;
    padding-top: 80px;
    background-color: #000000;
}

footer{
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: #222222;
}

.row-foot{
    width: 100%;
    height: 100%;
    display: flex;
}

.col-20{
    width: 20%;
    height: 100%;
    display: flex;
}

.end-m{
    color: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    display: flex;
}

.end-m:hover{
    background-color: #4b4b4b;
    color: red;
}

.col-20 > .square{
    margin-right: 20px;
}

.col-60{
    width: 60%;
    display: flex;
}

.square{
    height: 70px;
    width: 90px;
    padding: 10px;
    color: white;
    text-align: center;
}

.square:hover{
    background-color: #4b4b4b;
}

.square > img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.square > p{
    font-size: 12px;
}

.square > span{
    transform: rotate(-90deg);
    position: relative;
    left: 29px;
    bottom: 38px;
}

.fullscreen{
    color: white;
    background-color: #000000;
    position: relative;
}

.speaker-view{
    position: absolute;
    top: 10px;
    right: 35px;
    background-color: #4b4b4b;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.speaker-view:hover{
    background-color: #6b6969;
}

.fulls{
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #4b4b4b;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.fulls:hover{
    background-color: #6b6969;
}

.speaker-view > img{
    width: 15px;
    height: 15px;
    filter: invert(1);
    margin-right: 5px;
}

.speaker-view > span{
    font-size: 12px;
}

.fulls > img{
    width: 15px;
    height: 15px;
    filter: invert(1);
}

.container-90{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

/*per rendere la scrollbar invisibile perchè non mi piace*/

.row::-webkit-scrollbar {
    display: none;
}

.col-10{
    margin: 10px;
    width: calc(100% / 7 - 20px);
    height: 145px;
    background-image: url(../img/webcam.jpg);
    background-size: contain;
}

.col-10:hover{
    border: 1px solid white;
}

.name{
    position: relative;
    top: 120px;
    padding: 2px;
    background-color: rgba(168, 124, 124, 0.5);
    width:120px;
    display: flex;
    align-items: center;
    color: white;
}

.name > img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.name > span{
    font-size: 15px;
}

.align-L{
    justify-content: left;
    align-items: center;
}

.align-C{
    justify-content: center;
    align-items: center;
}

.align-R{
    justify-content: right;
    align-items: center;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}